.navbar {
    height: 100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    height: 70px;
    background-color: #d8ffc3;
    color: #d9f540;
    margin-bottom: 30px;
    text-align: left;
    font-size: 30px;
    display: flow;
    justify-content: center;
    align-items: center;
}